@use "mixins/mixins";
@use "variables/variables";
@use "base/base";
@use "blocks/title";
@use "blocks/header";
@use "blocks/nav";
@use "blocks/info";
@use "blocks/btn";
@use "blocks/main";
@use "blocks/card";
@use "blocks/apartments";
@use "blocks/aboutus";
@use "blocks/contacts";
@use "blocks/reviews";
@use "blocks/message";
@use "blocks/footer";
@use "blocks/apartmentsall";
@use "blocks/details";
@use "blocks/notification";
.wrapper {
    /* width: 100vw; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .section__header {
        flex-shrink: 0;
        width: 100%;
        padding: 25px 0 12.5px 0;
        padding-right: var(--pr);
        background: linear-gradient(90deg, var(--white) 50%, var(--blue) 50%);
        @media (min-width: 768px) and (max-width: 1439px) {
            background: linear-gradient(90deg, var(--white) 30%, var(--blue) 30%);
        }
        /*  position: absolute;
        top: 25px; */
    }
    .section__main {
        flex-grow: 1;
        width: 100%;
    }
    .section__footer {
        flex-shrink: 0;
        width: 100%;
    }
}

/* .ioswrapper {
    overflow: hidden;
    height: 100%;
} */
