.apartmentsall {
    width: 100%;
    //max-height: 1880px;
    padding-top: 68px;
    padding-bottom: 120px;
    @media (max-width: 850px) {
       padding-bottom: 60px;
    }
    &__title {
        padding-bottom: 40px;
    }
    /* &__header {
        position: static !important;
        padding: 25px 0 12.5px 0;
        background: linear-gradient(90deg, var(--white) 50%, var(--blue) 50%);
        @media (min-width: 768px) and (max-width: 1439px) {
            background: linear-gradient(90deg, var(--white) 30%, var(--blue) 30%);
        }
    } */
    &__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(227px, 395px));
        grid-template-rows: repeat(2, minmax(317px, 548px));
        grid-auto-rows: minmax(317px, 548px);
        column-gap: 30px;
        row-gap: 80px;
        @media (max-width: 1290px) {
            row-gap: 25px;
        }
        @media (max-width: 850px) {
            grid-template-columns: repeat(2, minmax(227px, 249px));
            grid-template-rows: repeat(2, minmax(317px, 490px));
            grid-auto-rows: minmax(317px, 490px);
            justify-content: center;
        }
        @media (max-width: 580px) {
            grid-template-columns: repeat(1, minmax(227px, 249px));
            grid-template-rows: repeat(1, minmax(317px, 490px));
            row-gap: 40px;
        }
        @media (max-width: 450px) {
            grid-template-columns: repeat(1, minmax(227px, 249px));
            grid-template-rows: repeat(1, minmax(317px, 478px));
            row-gap: 40px;
        }

        &_card {
            //box-shadow: 4px 4px 4px 4px black;
            &-img {
                display: block;
                width: 100%;
                min-height: 140px;
                border-radius: 10px;
                margin-bottom: 20px;
                @media (max-width: 850px) {
                    margin-bottom: 10px;
                }
            }
            &-title {
                color: rgb(51, 51, 51);
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                margin-bottom: 20px;
                @media (max-width: 850px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 425px) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            &-descr {
                color: rgb(51, 51, 51);
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 20px;
                @media (max-width: 850px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 425px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            &-price {
                color: var(--blue);
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            &-address {
                color: rgb(51, 51, 51);
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 20px;
                @media (max-width: 850px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 1066px) {
                    font-size: 16px;
                }
                img {
                    display: inline-block;
                    width: 15px;
                    height: 19px;
                    margin-right: 14px;
                }
            }
            &-btn {
                display: block;
                width: 170px;
                height: 40px;
                padding: 10px 40px;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
            }
        }
    }
}
