@use "mixins/mixins" as w;
.message {
    width: 100%;
    min-height: 354px;
    position: relative;
    padding-bottom: 40px;
    float: right;
    @media (max-width: 768px) {
        padding-top: 40px;
    }
    &__title-wrap {
        max-width: 703px;
        height: auto;
        position: relative;
        margin-left: 540px;
        margin-top: 140px;
        z-index: 101;
        @media (max-width: 950px) {
            margin-left: 330px;
        }
        @media (max-width: 768px) {
            display: none;
        }
        img {
            display: block;
            position: absolute;
            width: 70px;
            height: 70px;
            left: -1vw;
            top: -2vw;
            z-index: -100;
        }
        h1 {
            color: rgb(17, 17, 17);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 15px;
        }
        h2 {
            color: var(--blue);
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
        }
        h3 {
            color: rgb(17, 17, 17);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
    }
    &__form {
        width: 393px;
        min-height: 451px;
        padding: 40px;
        border-radius: 10px;
        background: rgb(255, 255, 255);
        position: absolute;
        top: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        z-index: 100;
        @media (max-width: 950px) {
            width: 290px;
            padding: 20px 30px;
        }
        @media (max-width: 768px) {
            width: 100%;
            position: static;
            margin: 0 auto;
            padding: 30px 100px;
            box-shadow: 1px 0px 15px 6px rgba(7, 7, 7, 0.2);
        }
        @media (max-width: 590px) {
            padding: 30px 30px;
        }
        @media (max-width: 370px) {
            /*  padding: 30px 5px; */
        }
        div {
            position: relative;
            &:has(.message__form_inp_invalid) {
                @media (min-width: 769px) and (max-width: 950px) {
                    margin-bottom: 25px;
                }
                @media (max-width: 400px) {
                    margin-bottom: 25px;
                }
            }
        }
        &_inp {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid rgba(17, 17, 17, 0.5);
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            position: relative;
            z-index: 100;
            &_invalid {
                border: 2px solid red;
                & + p {
                    &:after {
                        content: "❌";
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: -25px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 1000;
                    }
                    &::before {
                        content: "Вы пропустили это поле,или ввели некоректные данные";
                        position: absolute;
                        width: 100%;
                        height: 20px;
                        border-color: red;
                        font-size: 12px;
                        bottom: -20px;
                    }
                }
                /* & + & {
                    @media (min-width: 769px) and (max-width: 950px) {
                        margin-bottom: 25px;
                    }
                    @media (max-width: 400px) {
                        margin-bottom: 25px;
                    }
                } */
            }
            &_valid {
                border: 2px solid rgb(86, 228, 73);
                & + p {
                    &:after {
                        content: "✅";
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: -25px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 1000; /*  */
                    }
                }
            }
            &-after {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 1;
            }
        }
        textarea {
            height: 114px;
            resize: none;
            font-size: 16px;
        }
        &_title {
            padding-bottom: 24px;
            color: var(--blue);
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            text-align: center;
        }
        &_btn {
            width: 152px;
            height: 36px;
            margin: 0 auto;
            @include w.btn-normal();
            border: none;
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            cursor: pointer;
            @include w.hover();
        }
    }
}
