:root {
    --blue: rgb(43, 122, 241);
    --white: rgb(229, 229, 229);
    -black: rgb(17, 17, 17);
    --divider-color: linear-gradient(90deg, rgb(255, 122, 0) 0%, rgb(255, 176, 57) 100%);
    --pr: 0px;
    --bg: rgb(29, 216, 20);
    --transform: 110%;
}
