@mixin btn-normal {
    border-radius: 25px;

    /* Shadow */
    box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1);
    /* /Градиент */
    background: linear-gradient(87.14deg, rgb(255, 122, 0) 0.156%, rgb(255, 176, 57) 99.86%);
}

@mixin btn-hover {
    border-radius: 25px;
    box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2), inset 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    background: linear-gradient(87.14deg, rgb(221, 106, 0) 0.156%, rgb(249, 152, 6) 99.86%);
}

@mixin btn-active {
    border-radius: 25px;
    box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2), inset 0px 7px 5px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(87.14deg, rgb(221, 106, 0) 0.156%, rgb(249, 152, 6) 99.86%);
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @include btn-hover();
        }
    }

    @media (hover: none) {
        &:active {
            @include btn-active();
        }
    }
}
@mixin hoverBtn {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin titleFz($min, $max) {
    $current: calc($max / (1280 / 100));
    font-size: clamp(#{$min}px, #{$current}vw, #{$max}px);
}

@mixin width($min, $max) {
    $current: calc($max / (1440 / 100));
    width: clamp(#{$min}px, #{$current}vw, #{$max}px);
}
